$cardGap: 1.25rem; // 卡片间距
$cardWidth: calc(100% / 3 - $cardGap); //卡片宽度
.card {
//   float: left;
// 	// display: inline-block;
// text-align: center;
	min-height: 3.125rem;
	width: $cardWidth;
	margin: 0 $cardGap $cardGap 0;
	border-radius: 0.9375rem;
	backdrop-filter: blur(0.3125rem);
	background: rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.card:nth-child(3n) {
	margin-right: 0;
}
// 标题
.title{
	padding: .5rem 0;
	text-align: center;
	border-bottom: .1875rem dashed rgb(189,227,161)
}
// 主体

// 底部按钮