.bg {
	height: 8.75rem;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  #main {
	user-select: none;
	height: 7.5rem;
	width: 7.5rem;
  }
  #htmlDetail,
  #cssDetail,
  #sassDetail {
	display: none;
  }